:root {
  --color1: rgb(192, 226, 226)
  --color2: rgb(170, 170, 219);
}

@media screen and (max-width: 600px) {
 
  #work h1 {
    display: none;
  }
  .hero-banner img{
    display:none;
  }
}

* {
  box-sizing: border-box;
}
/* overiding styling for page */
body {
  background-color: var(--color1) !important;
  color: #c5c5c5;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
 /* navigational bar - layout & headline */
.navbar { 
display: flex;
align-items: baseline;
width: 100%;
justify-content: space-between;


}
#nav{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  
}

.hero-banner img {
  margin:10px 0px 0px 10px;
}
.hero-banner h2 {
  background-color: var(--color1);
  padding:0px 0px 0px 10px;
}

/* sidebar - styling & border */
.aboutMeText,
.images, 
.contactMe { 
border-left: 1px solid var(--color1); 
}

/* headline image - styling  */
.hero-banner {
  display: flex;
  grid-area: content;
  height: 250px ;
  justify-content: left;
  align-items: stretch;
background-image: url(../images/Background.jpeg)}

.hero-banner h2 {color: aliceblue;
}

/* "about me' text - styling*/
#aboutMe {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  grid-template-areas: 'aboutMe aboutText';
  align-items:flex-start;
  justify-content: right;
}
.aboutMeText {
  grid-area:aboutText;
  padding-left: 10px;
}

/* images - styling: introduced grid for image placement */
#work {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 15% 85%;
  justify-content: center;
  grid-template-areas: "work images"
  ;
}
/* images - enhancement  */
.images {
    background: gray;
    border: 1px solid #c5c5c5;
    float: right;
    margin: 0 0 10px 0px;
    padding: 0px;
    touch-action:double-tap-zoom;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: 'image image'
  'image2 image3'
  'image4 image5';
  grid-area:images;
 justify-content: space-between;
}
.image1{
grid-area: image;

}
.image2 {
grid-area: image2 ;
}

.image3  {
  grid-area:image3;
}
.image4 {
  grid-area: image4;
}
.image5 {
  grid-area:image5;
}

.image1,
.image2, 
.image3,
.image4,
.image5 {
  border: #f0f8fa 5px solid;
}


.image1 h1, 
.image2 h1, 
.image3 h1, 
.image4 h1,
.image5 h1 {
  position: relative;
  bottom:100px;
  background-color: rgb(192, 226, 226);
  width: 20%;  
}
/* Introduce hover element to images */

.image1:hover {
  opacity: 0.5;
}

.image2:hover { 
  opacity: 0.5; 
}

.image3:hover {
  opacity: 0.5;
}

.image4:hover { 
  opacity: 0.5; 
}

.image5:hover { 
  opacity: 0.5; 
}

/* "contact me" - layout & styling: introduced grid for placement */
#contact { 
  width: 100%;
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}
.contactMe { 
    display: flex;
    justify-content: space-between;
    width: 85%;
  }